.Loading_page {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
color: rgb(58, 58, 58);
}

@media only screen and (max-width:400px){
   .Loading_page{
    font-size: 15px;
}}

@media only screen and (min-width:600px){
    .Loading_page{
        font-size: 20px;
    }
}

@media only screen and (min-width:800px){
    .Loading_page{
        font-size: 25px;
    }
}

@media only screen and (min-width:1400px){
    .Loading_page{
        font-size: 30px;
    }
}