.Header_main_div{
    display: flex;
    background:linear-gradient(to right,rgb(62, 62, 62),rgb(24, 24, 24));
    width: 100%;
    height: 55%;
}

.Header_text{
    width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.Header_text h1{
    display: none;
}

.language_button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    
}

.hireGuide{
width: 90px;
height: 25px;
background-color: white;
color: black;
cursor: pointer;
}

.language{
    width: 90px;
height: 25px;
background-color: rgb(0, 0, 0);
color: rgb(249, 249, 249);
margin-left: 15px;
cursor: pointer;
}

.Header_image{
    width: 50%;
    display: flex;
    align-items: center;
}

.Header_image img{
    width: 270px;
    height:270px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 30px;
}

@media only screen and (max-width:380px){
   .Header_image{
     transform: scale(0.9);
    margin-top: 0px;
   }
   .Header_text p{
    font-size: 8px;
   }
   .language_button button{
 width:60px;
 height: 15px;
 font-size: 7px;
}
}


@media only screen and (max-width:590px){
    .Header_image img{
        width: 200px;
        height:200px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .Header_text{
        font-size: 16px;
    }
}

@media only screen and (max-width:460px){
    .Header_image img{
        width: 170px;
        height:170px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .Header_text{
        font-size: 12px;
    }
    .Header_text p{
        width: 95%;
        font-family: sans-serif;
    }
    .hireGuide{
        width: 80px;
        height: 25;
    }
    .language{
        width: 80px;
        height: 25px;
    }
}

@media only screen and (min-width:700px){
.Header_text{
    width: 45%;
    margin-left: 5%;
    font-size: 20px;
}
.hireGuide{
    width: 100px;
    height: 25;
}
.language{
    width: 100px;
    height: 25px;
}
}

@media only screen and (min-width:770px){
    .Header_main_div{
        background-image: url('https://res.cloudinary.com/dldonwgcr/image/upload/v1687689946/gremigremis-monasteri-gremi-monastery-monastyr-gremi-2_mzjazs.jpg');
      background-size: cover;
      background-position: center;
    }
  .Header_text h1{
    display: block;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .Header_text p{
    width:75%;
    margin-right: auto;
    font-size: 16px;
  }
  .Header_text{
    width: 50%;
    margin-left: 40px;
  }
  .Header_image{
    display: none;
  }
}

@media only screen and (min-width:900px){
  .Header_text h1{
    font-size: 45px;
    margin-bottom: 30px;
  }
  .Header_text p{
    width:75%;
    margin-right: auto;
    font-size: 18px;
  }
  .Header_text{
    width: 50%;
    margin-left: 40px;
  }
  .Header_image{
    display: none;
  }
  .hireGuide{
    width: 130px;
    height: 35px;
}
.language{
    width: 130px;
    height: 35px;
}
}


@media only screen and (min-width:1100px){
    .Header_text{
        margin-left: 65px;
    }
    .Header_text p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Header_text h1{
        font-size: 45px;
    }

    .hireGuide{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
    .language{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
}

@media only screen and (min-width:1300px){
    .Header_text{
        margin-left: 70px;
    }
    .Header_text p{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .Header_text h1{
        font-size: 50px;
    }

    .hireGuide{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
    .language{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
}


@media only screen and (min-width:1400px){
    .language_button{
    margin-bottom: 50px;
    }
    .Header_text p{
        font-size: 24px;
        margin-bottom: 20px;
        width: 65%;
        color: rgb(235, 235, 235);
    }
    .Header_text{
        margin-left: 100px;
    }

    .Header_text h1{
        font-size: 60px;
        margin-bottom: 40px;
        color: rgb(255, 255, 255);
    }
    .Header_main_div{
        height: 47%;
    }
}