.Header_main_div{
    display: flex;
  background-color:rgb(255, 255, 255);
    width: 100%;
    height: 300px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    background-image: url('https://res.cloudinary.com/dldonwgcr/image/upload/v1687716745/gremigremis-monasteri-gremi-monastery-monastyr-gremi-2_tr9_l9ch4f.jpg');
  background-size: cover;
  background-position: center;
}

.Header_text{
    width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(234, 234, 234);
  margin-left: 10px;
  font-size: 20px;
}

.Header_text p{
    margin-bottom: 15px;
    font-size: 20px;
   color: white;
 
}
.Header_text h1{
    display: none;
font-family: 'Laila', sans-serif;
}

.language_button{
    width: 100%;
    margin-top: 7px;
    display: flex;
    
}

.hireGuide{
width: 105px;
height: 34px;
background:linear-gradient(to right,rgb(255, 255, 255),rgb(244, 244, 244));
box-shadow: 1px 1px 8px rgb(19, 19, 19);
border-radius: 5px;
transition: all 0.3s;
color: black;
cursor: pointer;
}

.language{
    width: 105px;
height: 34px;
background:linear-gradient(to right,rgb(29, 29, 29),rgb(13, 13, 13));
box-shadow: 1px 1px 8px black;
border-radius: 5px;
color: rgb(249, 249, 249);
margin-left: 15px;
cursor: pointer;
transition: 0.3s all;
}

.language:hover{
    transform: scale(1.1);
    background:linear-gradient(to right,rgb(17, 0, 93),black);
    color: rgb(255, 255, 255);
}
.hireGuide:hover{
    transform: scale(1.1);
   background:linear-gradient(to right,rgb(0, 0, 99),rgb(22, 22, 22));
  color: white;
 }

.Header_image{
    width: 50%;
    display: flex;
    align-items: center;
}

.Header_image img{
    width: 270px;
    height:270px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 30px;
}

@media only screen and (max-width:380px){
   .Header_image{
     transform: scale(0.9);
    margin-top: 0px;
   }
   .Header_image img{
    margin-right: 20px;
   }
   .Header_text p{
   font-size: 12px; 
}
   .language_button button{
 width:80px;
 height: 25px;
 font-size: 10px;
}
.Header_main_div .language_button{
    margin-top: 15px;
}
.Header_main_div{
    height: 200px;
}
}

@media only screen and (max-width:348px){
    .Header_text p{
        font-size: 5px;  
        border: 2px solid rgb(235, 235, 235);
        box-shadow: 1px 1px 10px rgb(221, 221, 221);
        border-radius: 10px;
        background: linear-gradient(to bottom, #964B00, #3E1F00);
        color: rgb(218, 218, 218);
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        padding: 5px;
    }
    .Header_main_div{
        height: 200px;
    }
    .Header_main_div .language_button{
        margin-top: 10px;
    }
}

@media only screen and (max-width:590px){
    .Header_image img{
        width: 200px;
        height:200px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .Header_text{
        font-size: 16px;
    }
    .language_button{
        margin-top: 15px;
    }
    .language{
        width: 98px;
        height: 36px;
    }
    .hireGuide{
        width: 98px;
        height: 36px;
    }
    .Header_main_div{
        height: 250px;
    }
    .Header_text p{
        font-size: 15px;
}
}

@media only screen and (max-width:485px){
    .Header_image img{
        width: 170px;
        height:170px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
    .Header_text{
        font-size: 14px;
    }
    .Header_text p{
        width: 100%;
        margin-bottom: 0px;
        font-family: sans-serif;
        font-size: 14px;
    }
    .hireGuide{
        width: 90px;
        height: 30px;
    }
    .language{
        width: 90px;
        height: 30px;
    }
    .Header_main_div{
        height: 230px;
    }
    .language_button{
        margin-top: 20px;
}
}

@media only screen and (min-width:700px){
.Header_text{
    width: 45%;
    margin-left: 5%;
    font-size: 20px;
}
.language_button{
    margin-top: 20px;
}
.hireGuide{
    width: 115px;
    height: 34px;
    font-size:16px;
}
.language{
    width: 115px;
    height: 34px;
    font-size:16px;
}
.Header_main_div{
    height: 300px;
}
.Header_text p{
   margin-bottom: 10px;
   font-size: 21px;
}
}

@media only screen and (min-width:770px){
    .Header_main_div{
        background-image: url('https://res.cloudinary.com/dldonwgcr/image/upload/v1687716343/gremigremis-monasteri-gremi-monastery-monastyr-gremi-2_tr9_jozzts.png');
      background-size: cover;
      background-position: center;
    }
  .Header_text h1{
    display: block;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .Header_text p{
    width:75%;
    margin-right: auto;
    font-size: 16px;
    color: rgb(244, 244, 244);
  }
  .Header_text{
    width: 50%;
    margin-left: 40px;
  }
  .Header_image{
    display: none;
  }
  .language{
    background:linear-gradient(to right,rgb(170, 114, 1),rgb(250, 186, 24));
  }
  .Header_main_div{
    height: 500px;
}

}

@media only screen and (min-width:900px){
  .Header_text h1{
    font-size: 45px;
    margin-bottom: 30px;
  }
  .Header_text p{
    width:75%;
    margin-right: auto;
    font-size: 18px;
  }
  .Header_text{
    width: 50%;
    margin-left: 40px;
  }
  .Header_image{
    display: none;
  }
  .hireGuide{
    width: 130px;
    height: 35px;
}
.language{
    width: 130px;
    height: 35px;
}
.Header_main_div{
    height: 500px;
}
}


@media only screen and (min-width:1100px){
    .Header_text{
        margin-left: 65px;
    }
    .Header_text p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Header_text h1{
        font-size: 45px;
    }

    .hireGuide{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
    .language{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
}

@media only screen and (min-width:1300px){
    .Header_text{
        margin-left: 70px;
    }
    .Header_text p{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .Header_text h1{
        font-size: 50px;
    }

    .hireGuide{
        width: 160px;
        height: 40px;
        font-size: 1.1em;
    }
    .language{
        width: 160px;
        height: 40px;
        font-size: 1.1em;
    }
}


@media only screen and (min-width:1400px){
    .language_button{
    margin-bottom: 50px;
    }
    .Header_text p{
        font-size: 23px;
        line-height: 35px;
        margin-bottom: 20px;
        width: 65%;
        color: rgb(235, 235, 235);
    }
    .Header_text{
        margin-left: 130px;
    }

    .Header_text h1{
        font-size: 60px;
        margin-bottom: 20px;
        color: rgb(255, 255, 255);
    }
    .Header_main_div{
        height: 700px;
    }
}

@media only screen and (min-width:2120px){
   .Header_text h1{
    max-width: 600px;
 align-self: flex-start;   
 font-size: 65px;
}
.Header_text{
    margin-left:240px;
}
.Header_text p{
    font-size: 26px;
}
.Header_text button{
    transform: scale(1.2);
}
.language{
margin-left: 60px;
}
}