.Header_main_div{
    display: flex;
  background-color: rgb(238, 238, 238);
    width: 100%;
    height: 55%;
}

.Header_text{
    width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(83, 83, 83);
  margin-left: 10px;
  font-size: 20px;
}

.Header_text h1{
    display: none;
font-family: 'Laila', sans-serif;

}

.language_button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    
}

.hireGuide{
width: 95px;
height: 28px;
background:linear-gradient(to right,rgb(255, 255, 255),rgb(244, 244, 244));
box-shadow: 1px 1px 8px rgb(19, 19, 19);
border-radius: 5px;
transition: all 0.3s;
color: black;
cursor: pointer;
}

.language{
    width: 95px;
height: 28px;
background:linear-gradient(to right,rgb(29, 29, 29),rgb(13, 13, 13));
box-shadow: 1px 1px 8px black;
border-radius: 5px;
color: rgb(249, 249, 249);
margin-left: 15px;
cursor: pointer;
transition: 0.3s all;
}

.language:hover{
    transform: scale(1.1);
    background:linear-gradient(to right,rgb(17, 0, 93),black);
    color: rgb(255, 255, 255);
}
.hireGuide:hover{
    transform: scale(1.1);
   background:linear-gradient(to right,rgb(0, 0, 99),rgb(22, 22, 22));
  color: white;
 }

.Header_image{
    width: 50%;
    display: flex;
    align-items: center;
}

.Header_image img{
    width: 270px;
    height:270px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 30px;
}

@media only screen and (max-width:380px){
   .Header_image{
     transform: scale(0.9);
    margin-top: 0px;

   }
   .Header_text p{
   width:100%;
    font-size: 11px;
   }
   .language_button button{
 width:80px;
 height: 25px;
 font-size: 10px;
}
}

@media only screen and (max-width:348px){
    .Header_text p{
        font-size: 8px;
    }
}

@media only screen and (max-width:590px){
    .Header_image img{
        width: 200px;
        height:200px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .Header_text{
        font-size: 16px;
    }
    .language{
        width: 98px;
        height: 36px;
    }
    .hireGuide{
        width: 98px;
        height: 36px;
    }
}

@media only screen and (max-width:485px){
    .Header_image img{
        width: 170px;
        height:170px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .Header_text{
        font-size: 12px;
    }
    .Header_text p{
        width: 95%;
        font-family: sans-serif;
    }
    .hireGuide{
        width: 90px;
        height: 30px;
    }
    .language{
        width: 90px;
        height: 30px;
    }
}

@media only screen and (min-width:700px){
.Header_text{
    width: 45%;
    margin-left: 5%;
    font-size: 20px;
}
.hireGuide{
    width: 115px;
    height: 34px;
    font-size:16px;

}
.language{
    width: 115px;
    height: 34px;
    font-size:16px;
}
}

@media only screen and (min-width:770px){
    .Header_main_div{
        background-image: url('https://res.cloudinary.com/dldonwgcr/image/upload/v1687716343/gremigremis-monasteri-gremi-monastery-monastyr-gremi-2_tr9_jozzts.png');
      background-size: cover;
      background-position: center;
    }
  .Header_text h1{
    display: block;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .Header_text p{
    width:75%;
    margin-right: auto;
    font-size: 16px;
    color: rgb(244, 244, 244);
  }
  .Header_text{
    width: 50%;
    margin-left: 40px;
  }
  .Header_image{
    display: none;
  }
  .language{
    background:linear-gradient(to right,rgb(170, 114, 1),rgb(250, 186, 24));
  }
}

@media only screen and (min-width:900px){
  .Header_text h1{
    font-size: 45px;
    margin-bottom: 30px;
  }
  .Header_text p{
    width:75%;
    margin-right: auto;
    font-size: 18px;
  }
  .Header_text{
    width: 50%;
    margin-left: 40px;
  }
  .Header_image{
    display: none;
  }
  .hireGuide{
    width: 130px;
    height: 35px;
}
.language{
    width: 130px;
    height: 35px;
}
}


@media only screen and (min-width:1100px){
    .Header_text{
        margin-left: 65px;
    }
    .Header_text p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Header_text h1{
        font-size: 45px;
    }

    .hireGuide{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
    .language{
        width: 160px;
        height: 40px;
        font-size: 1.3em;
    }
}

@media only screen and (min-width:1300px){
    .Header_text{
        margin-left: 70px;
    }
    .Header_text p{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .Header_text h1{
        font-size: 50px;
    }

    .hireGuide{
        width: 160px;
        height: 40px;
        font-size: 1.1em;
    }
    .language{
        width: 160px;
        height: 40px;
        font-size: 1.1em;
    }
}


@media only screen and (min-width:1400px){
    .language_button{
    margin-bottom: 50px;
    }
    .Header_text p{
        font-size: 23px;
        line-height: 35px;
        margin-bottom: 20px;
        width: 65%;
        color: rgb(235, 235, 235);
    }
    .Header_text{
        margin-left: 100px;
    }

    .Header_text h1{
        font-size: 60px;
        margin-bottom: 20px;
        color: rgb(255, 255, 255);
    }
    .Header_main_div{
        height: 47%;
    }
}