.Language_main_div{
    width: 40%;
    height: 50vh;
   background:linear-gradient(to right,rgb(29, 29, 29),rgb(2, 0, 63));
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
  border: 2px solid black;
}

.Language_main_div h1{
    font-size:37px;
    cursor: pointer;
    color: rgb(238, 238, 238);
    font-family: 'K2D','serif';
    transition: all 0.1s;
}

#exit_btn{
    position:absolute;
    top:10px;
    font-size:45px;
    right: 40px;
    color: rgb(221, 221, 221);
    transform: none;
}

#exit_btn:hover{
    color: rgb(245, 11, 11);
}

.Language_main_div h1:hover{
    transform: scale(1.05);
}

.Language_main_div div{
  display: flex;
  position: relative;
  width: 180px;
  margin-left:30px;
}

.Language_main_div h2{
    font-size: 35px;
    position: absolute;
    right: 0px;
    color: rgb(73, 255, 56);
}
.Language_main_div div.second_div{
    width: 160px;
}

.Language_main_div section{
width: 100%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
gap: 35px;
}

@media only screen and (max-width:399px){
  .Language_main_div {
    width: 72%;
    height: 240px;
  }
  #exit_btn{
    font-size:30px;
    right: 20px;
  }
  #exit_btn:hover{
    color: black;
  }
  .Language_main_div h1{
    font-size: 30px;
    transform: none;
  }
  .Language_main_div h2{
    font-size: 30px;
  }
  .Language_main_div div{
    width: 155px;
  }
  .Language_main_div div.second_div{
   width: 135px;
  }
 
  .Language_main_div section{
    gap:30px;
  }
}

@media only screen and (max-height:600px){
    .Language_main_div{
        height: 200px;
        width: 300px;
    }
}

@media only screen and (min-width:400px){
    .Language_main_div {
      width: 75%;
      height: 290px;
    }
    #exit_btn{
      font-size:35px;
      right: 20px;
    }
    #exit_btn:hover{
      color: rgb(233, 233, 233);
    }
    .Language_main_div h1{
      font-size: 35px;
      transform: none;
    }
    .Language_main_div h2{
      font-size: 33px;
    }
    .Language_main_div div{
      width: 180px;
    }
    .Language_main_div div.second_div{
     width: 160px;
    }
   
    .Language_main_div section{
      gap:30px;
    }
  }

  @media only screen and (min-width:520px){
    .Language_main_div{
        height: 300px;
        width: 68%;
    }
  }

  @media only screen and (min-width:600px){
    .Language_main_div {
        height:340px;
        max-width:470px;
    }
    .Language_main_div h1{
        font-size: 40px;
    }
    .Language_main_div div{
        width: 190px;
}
.Language_main_div div.second_div{
    width: 175px;
}
.Language_main_div section{
    gap: 40px;
}
  }

  @media only screen and (min-width:1200px){
    .Language_main_div{
        max-width: 550px;
        height:410px;
    }
    .Language_main_div h1{
        font-size: 45px;
    }
 .Language_main_div h2{
    font-size: 40px;
 }
    .Language_main_div div{
        width: 220px;
}
.Language_main_div div.second_div{
    width: 195px;
}
.Language_main_div section{
    gap: 45px;
}
  }

@media only screen and (min-width:1600px){
    .Language_main_div{
      max-width: 600px;
      height: 440px;
    }
    #exit_btn{
        font-size: 60px;
        right: 30px;
        top: 20px;
    }
    .Language_main_div section{
     gap: 60px;
    }
    .Language_main_div h1{
        font-size: 50px;
    }
    .Language_main_div h2{
        font-size: 45px;
     }
        .Language_main_div div{
            width: 250px;
    }
    .Language_main_div div.second_div{
        width: 225px;
    }
    .Language_main_div section{
        gap: 60px;
    }
}

  @media only screen and (min-width:2000px){
    .Language_main_div{
        max-width: 730px;
      height: 550px;
    }

    .Language_main_div h1{
        font-size: 60px;
    }
 .Language_main_div h2{
    font-size: 55px;
 }
    .Language_main_div div{
        width: 295px;
}
.Language_main_div div.second_div{
    width: 265px;
}
.Language_main_div section{
    gap: 60px;
}
#exit_btn{
    font-size: 60px;
}
  }

  @media only screen and (min-width:2500px){
    .Language_main_div{
        max-width: 860px;
        height: 47vh;
    }
    .Language_main_div section{
        gap: 70px;
    }
    .Language_main_div h1{
        font-size: 70px;
    }
    .Language_main_div h2{
        font-size: 65px;
    }
  .Language_main_div div{
    width: 340px;
  }
  .Language_main_div div.second_div{
    width: 305px;
  }
  }