body{
    background-color: whitesmoke;
}

.Videos_main_div{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-top: 3px solid black;
    margin-top: 20px;
}
.Videos_header{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top:30px;
}

.Videos_header h1{
    font-size: 60px;  
    width: 250px;
    background: linear-gradient(to right,rgb(250, 92, 92), rgb(0, 34, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'K2D', sans-serif;
}

.Videos_div div{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
    gap: 24px;
}

.Videos_main_div div h2{
    width: 250px;
    text-align: center;
    font-size: 19px;
    color: #575757;
    font-family: Encode Sans Condensed;
    line-height: 35px;
}

iframe{
    width: 300px;
    height: 260px;
}

.Videos_div div.first_video{
    margin-top:55px;
}

@media only screen and (max-width:400px){
    .Videos_header h1{
        font-size: 56px;
        width: 230px;
    }
    .Videos_header{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .Videos_main_div div h2{
        font-size: 16px;
        width: 200px;
    }
    iframe{
        width: 240px;
    height: 200px;
    }
    .Videos_div div{
        margin-top:55px;
        gap: 15px;
    }
    .Videos_div div.third_video h2{
        width: 160px;
    } 
    .Videos_div div.first_video{
        margin-top:35px;
    }
}

@media only screen and (min-width:500px){
    .Videos_header h1{
        font-size: 63px;
    }
    .Videos_main_div div h2{
        font-size: 19px;
        width: 260px;
    }
    .Videos_div div {
        gap: 20px;
        margin-top: 75px;
    }
    iframe{
        width: 310px;
    height: 270px;
    }
    .Videos_div div.third_video h2{
        width: 150px;
    } 
    .Videos_div div.first_video{
        margin-top: 50px;
    }
}


@media only screen and (min-width:700px){
    .Videos_header h1{
        font-size: 71px;
        width: 350px;
        margin-top: -50px;
    }
    .Videos_main_div div h2{
        font-size: 21px;
    }
    .Videos_div div{
    margin-top: 70px;
    }
    .Videos_main_div div {
        gap: 33px;
        margin-top: 70px;
    }
    iframe{
        width: 380px;
    height: 290px;
    }
    .Videos_div div.first_video {
        margin-top: 0px;
    } 
    .Videos_div div.third_video p{
        width: 200px;
    }
}

@media only screen and (min-width:900px){
    
    .Videos_main_div div{
     gap: 40px;     
     margin-top: 70px;
    }

    .Videos_main_div div h2{
        font-size: 24px;
      width: 330px;
    }

  .Videos_div div.third_video h2{
  width: 230px;  
}

    iframe{
        width: 440px;
        height: 310px;
    }
}

@media only screen and (min-width:1100px){
    .Videos_div{
        display: flex;
        width: 100%;
        flex-direction: row;
        max-width: 1500px;
        align-items: first baseline;
        height: 500px;
}


.Videos_header h1{
  margin-top: -50px;
}

    .Videos_div div{
         margin-top: 50px;
    }
    iframe{
        width: 290px;
        height: 200px;
    }
   .Videos_div div.third_video h2{
    width: 230px;
   }
}

@media only screen and (min-width:1300px){
    iframe{
        width: 330px;
        height: 230px;
    }

    .Videos_header h1{
        width: 600px;
        font-size: 70px;
    }

}

@media only screen and (min-width:1600px){
    iframe{
        width: 360px;
        height: 250px;
    }
}